@model List<Munazara.Application.Data.Reponses.GetLastTopicsResponse>

@{
    ViewBag.Title = "Son Konular";
}





<div class="row">
    <div class="col-md-12">
        <div class="table-responsive table-home">
            <table class="table">
                <thead>
                    <tr>

                        <th>Konu</th>
                        <th>Kategori</th>
                        <th>Cevap</th>
                        <th>Gösterim</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var topic in Model)
                    {
                        <tr>

                            <td class="topic-title"><a href="/t/@topic.Slug-@topic.Id"> @topic.Title</a></td>
                            <td><span class="category-badge" style="background-color: @topic.Category.Color"></span> <a href="/c/@topic.Category.slug"><strong>@topic.Category.Name</strong></a>  </td>
                            <td class="text-center">@topic.ReplyCount</td>
                            <td class="text-center">@topic.ViewCount</td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>

</div>
